.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup h1 {
  font-size: 5vh;
  font-weight: 500;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

.signup-form {
  width: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-form section:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1vh;
}

.signup-form section:first-of-type div {
  width: 11vw;
}

.signup-form > div {
  margin-bottom: 1vh;
}

.signup-form .signup-submit {
  margin-bottom: 3vh;
}

.signup-form section:last-of-type {
  text-align: end;
}
/*# sourceMappingURL=Signup.css.map */