.signup {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 5vh;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}

.signup-form {
  width: 23vw;
  display: flex;
  flex-direction: column;

  section:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;

    div {
      width: 11vw;
    }
  }

  > div {
    margin-bottom: 1vh;
  }

  .signup-submit {
    margin-bottom: 3vh;
  }

  section:last-of-type {
    text-align: end;
  }
}
