.signin {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 5vh;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}

.signin-form {
  width: 23vw;
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 1vh;
  }

  button {
    margin-bottom: 3vh;
  }

  section:last-of-type {
    text-align: start;
  }
}
