.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin h1 {
  font-size: 5vh;
  font-weight: 500;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

.signin-form {
  width: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin-form div {
  margin-bottom: 1vh;
}

.signin-form button {
  margin-bottom: 3vh;
}

.signin-form section:last-of-type {
  text-align: start;
}
/*# sourceMappingURL=Signin.css.map */