@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 22vw;
  max-width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0000002b;
  color: #ffffff9d;
  z-index: 2;

  .page-title {
    width: 100%;
    height: 4.5rem;
    @include flexbox;
    font-size: 1.6rem;
  }

  .menu-title {
    width: 100%;
    height: 2.7rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-indent: 2rem;
  }

  a {
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid #00000055;
    background: linear-gradient(to right, #00000055, #0000002d);
    text-decoration: none;
    color: #ffffffa4;

    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    align-content: center;
    transition: ease-in 0.3s;

    span {
      width: 100%;
      height: 100%;
      text-align: left;
      text-indent: 1rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: #ffffffa4;
    }

    svg {
      color: #ffffffa4;
    }
  }

  a:hover {
    background: linear-gradient(to right, #00000098, #0000004f);
    text-decoration: none;
    color: #ffffff;

    span,
    svg {
      color: #ffffff;
    }
  }
}
