.left-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 22vw;
  max-width: 350px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0000002b;
  color: #ffffff9d;
  z-index: 2;
}

.left-menu .page-title {
  width: 100%;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.left-menu .menu-title {
  width: 100%;
  height: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-indent: 2rem;
}

.left-menu a {
  width: 100%;
  height: 4rem;
  border: none;
  border-bottom: 1px solid #00000055;
  background: -webkit-gradient(linear, left top, right top, from(#00000055), to(#0000002d));
  background: linear-gradient(to right, #00000055, #0000002d);
  text-decoration: none;
  color: #ffffffa4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.left-menu a span {
  width: 100%;
  height: 100%;
  text-align: left;
  text-indent: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffffa4;
}

.left-menu a svg {
  color: #ffffffa4;
}

.left-menu a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00000098), to(#0000004f));
  background: linear-gradient(to right, #00000098, #0000004f);
  text-decoration: none;
  color: #ffffff;
}

.left-menu a:hover span,
.left-menu a:hover svg {
  color: #ffffff;
}
/*# sourceMappingURL=LeftMenu.css.map */