@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #ac3e49, #4a0246);
}
