main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#ac3e49), to(#4a0246));
  background: linear-gradient(to right bottom, #ac3e49, #4a0246);
}
/*# sourceMappingURL=Home.css.map */