@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0000002b;
  border-bottom: 1px solid #0000004f;
  z-index: 1;

  #more {
    background-color: #00000021;
  }

  > div {
    width: 4.5rem;
    height: 100%;
    @include flexbox;
    color: #fff;
    border-left: 1px solid #0000004f;

    .view {
      position: fixed;
      display: none;
      width: 18.5rem;
      height: 25rem;
      right: 0;
      top: 4.49rem;
      background-color: #00000098;
      box-shadow: 2px 5px 15px #000;
      border-radius: 0.2rem;
      flex-direction: column;
    }

    .notification {
      right: 2vw;
    }

    .profile {
      right: 1vw;
      height: auto;
    }

    .more {
      height: 100vh;
    }

    .title {
      height: 3rem;
      text-align: center;
      @include flexbox;
      font-size: 19px;
      color: #ffffffbf;
      border-bottom: 1px solid #00000055;
    }

    .account {
      display: grid;
      grid-template-columns: 40% 60%;
      justify-items: center;
      align-items: center;
      padding-top: 2vh;
      padding-bottom: 2vh;
      border-bottom: 1px solid #00000055;

      .name {
        font-size: 1.4rem;
      }
    }

    .link {
      height: 3rem;

      a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: left;
        text-indent: 2rem;
        display: flex;
        align-items: center;
      }
    }

    .link:hover {
      background-color: rgba(0, 0, 0, 0.438);

      a {
        text-decoration: none;
      }
    }

    .sign-out {
      height: 5rem;
      @include flexbox;

      button {
        width: 65%;
      }
    }
  }

  > div:hover {
    transition: ease-in 0.25s;
    background-color: #00000021;
    .notification,
    .profile {
      display: flex;
    }
  }
}
