header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0000002b;
  border-bottom: 1px solid #0000004f;
  z-index: 1;
}

header #more {
  background-color: #00000021;
}

header > div {
  width: 4.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-left: 1px solid #0000004f;
}

header > div .view {
  position: fixed;
  display: none;
  width: 18.5rem;
  height: 25rem;
  right: 0;
  top: 4.49rem;
  background-color: #00000098;
  -webkit-box-shadow: 2px 5px 15px #000;
          box-shadow: 2px 5px 15px #000;
  border-radius: 0.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header > div .notification {
  right: 2vw;
}

header > div .profile {
  right: 1vw;
  height: auto;
}

header > div .more {
  height: 100vh;
}

header > div .title {
  height: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  color: #ffffffbf;
  border-bottom: 1px solid #00000055;
}

header > div .account {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #00000055;
}

header > div .account .name {
  font-size: 1.4rem;
}

header > div .link {
  height: 3rem;
}

header > div .link a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: left;
  text-indent: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div .link:hover {
  background-color: rgba(0, 0, 0, 0.438);
}

header > div .link:hover a {
  text-decoration: none;
}

header > div .sign-out {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div .sign-out button {
  width: 65%;
}

header > div:hover {
  -webkit-transition: ease-in 0.25s;
  transition: ease-in 0.25s;
  background-color: #00000021;
}

header > div:hover .notification,
header > div:hover .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=Header.css.map */