.account-settings {
  width: 60vw;
  height: 65vh;
  margin-left: 15vw;
  padding: 2vw;
  border-radius: 0.5vw;
  display: -ms-grid;
  display: grid;
  background-color: #00000026;
}

.account-settings .prof-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings .prof-pic input {
  width: 25%;
  padding: 2vw;
}

.account-settings .prof-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings .prof-text > section {
  padding-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 23px;
  color: #ffffffbf;
}

.account-settings .prof-text > section > div {
  margin-left: 3vw;
}

.account-settings .prof-text > section input,
.account-settings .prof-text > section label {
  color: #fff;
}

.account-settings .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-settings .submit button {
  width: 65%;
}
/*# sourceMappingURL=AccountSettings.css.map */