@mixin flexbox($direction, $horizontal, $vertical) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

.account-settings {
  width: 60vw;
  height: 65vh;
  margin-left: 15vw;
  padding: 2vw;
  border-radius: 0.5vw;
  display: grid;

  background-color: #00000026;

  .prof-pic {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 25%;
      padding: 2vw;
    }
  }

  .prof-text {
    @include flexbox(column, center, center);

    > section {
      padding-bottom: 2vh;

      display: flex;
      align-items: flex-end;
      font-size: 23px;
      color: #ffffffbf;

      > div {
        margin-left: 3vw;
      }

      input,
      label {
        color: #fff;
      }
    }
  }

  .submit {
    @include flexbox(row, center, center);

    button {
      width: 65%;
    }
  }
}
